{% set contributorsTitle = "Contributors" %}
{% set referencesTitle = "Reading List" %}
{% set barAmount %}
  {% for item in collections.index %}
  {% if item.data.type === 'bar' %}
  {{ item.data.bars | length }}
  {% endif %}
  {% endfor %}
{% endset %}
{% for item in collections.index %}
  {% if item.data.type === 'contributors' %}
    {% set contributorsTitle %}{{ item.data.title }}{% endset %}
  {% elif item.data.type === 'references' %}
    {% set referencesTitle %}{{ item.data.title }}{% endset %}
  {% endif %}
{% endfor %}
<section id="issues" class="issues col-left scroll" style="--bar-amount: {{ barAmount }}">
  {# <h2 class="content-mobile section__heading">Issues</h2> #}
  {% for issue in collections.issue %}
  {% if issue.data.visible %}
  {% if not (loop.index == 1) %}<div class="spacer"></div>{% endif %}
  <article id="{{ loop.index }}-{{ issue.data.title | slug }}" class="issues__item"{% if issue.data.released %} data-released="true"{% endif %}>
    <div class="issues__wrapper">
      <div class="issues__meta size-modify">
        <span class="issues__meta1">{{ issue.data.meta1 }}</span>
        <span class="issues__meta2">{{ issue.data.meta2 }}</span>
      </div>
      <h3 class="issues__title"><a href="#{{ loop.index }}-{{ issue.data.title | slug }}">{{ issue.data.title }}</a></h3>
      <div class="issues__content size-modify">
        {{ issue.data.content | markdown | safe }}
      </div>
      {% if issue.data.contributors | length %}
      <div class="issues__contributors ">
        <h4 class="section__heading">{{ contributorsTitle }}</h4>
        <ul class="size-modify">
        {% for contributor in issue.data.contributors %}
          <li>
            {% if contributor.href %}
              <a href="{{ contributor.href }}" target="_blank">{{ contributor.name }}</a>
            {% else %}
              {{ contributor.name }}
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
      {% elif issue.data.rightCol %}
      <div class="issues__content-right size-modify">
        {{ issue.data.rightCol | markdown | safe }}
      </div>
      {% endif %}
      {% if issue.data.pdfUpload or issue.data.images | length or issue.data.references | length %}
      <div class="issues__buttons">
        {% if issue.data.pdfUpload %}
        <a class="button--round pdf-button" title="Open PDF for Colouring In, {{ issue.data.title }}" onclick="ga('send', 'event', 'pdf', 'download', 'issue {{ issue.data.title | slug }}')" target="_blank" href="{{ issue.data.pdfUpload }}">Read PDF</a>
        {% else %}
        <span class="button--round pdf-button disabled">{{ issue.data.buttonPdf | default('Read PDF') }}</span>
        {% endif %}
        {% if issue.data.images | length %}
        <div class="images-scatter">
          <button class="button--round image-button" title="Scatter {{ issue.data.title | slug }} images">{{ issue.data.buttonImages | default('View Images') }}</button>
          <ul class="issues__images">
            {% for image in issue.data.images %}
            <li>
              <img alt="{{ image.alt }}"
                sizes="(max-width: 679px) 240px, 17vw"
                srcset="{{ image.src }}?nf_resize=fit&w=240&h=240 240w,
                {{ image.src }}?nf_resize=fit&w=480&h=480 480w,
                {{ image.src }}?nf_resize=fit&w=720&h=720 720w"
                src="{{ image.src }}"
                loading="lazy">
            </li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
          <span class="button--round image-button disabled">{{ issue.data.buttonImages | default('View Images') }}</span>
        {% endif %}
        {% if issue.data.references | length %}
          <a class="button--round references-button" title="Further reading for Colouring In, {{ issue.data.title }}" href="#{{ loop.index }}-{{ issue.data.title | slug }}-references">{{ issue.data.buttonList | default(referencesTitle) }}</a>
        {% else %}
        {% endif %}
      </div>
      {% endif %}
      {% include "partials/painting-canvas.njk" %}
    </div>
  </article>
  {% endif %}
  {% endfor %}
</section>
